{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} Burgess Productions {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>ABOUT</h2>
		<hr>
		<p> Hailing from the mitten state, Brendan currently is a sophmore at Clark University with a double major in computer and political science.  As well as acedemic pursuits, Brendan is very intrested in travel and foriegn cultures. In his senior year of high school, he went on a foreign exchange program to Istanbul,Turkey through AFS (American Field Services). Today He spends his time studying, pursuing extra-curriculars such as Model United Nations and his school newspaper and trying to catch up on ever elusive sleep. 
		<br>
		<br>
		Feel free to poke around these other tabs to learn more...</p>
	</div>
{% endblock %}