{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} Burgess Productions {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>ABOUT</h2>
		<hr>
		<p> Hey There... 
		<br>
		<br>
		My name is Brendan and I am a junior at Clark University in Worcester, Mass studying Computer Science and International Relations. Besides academic pursuits I also spend far too much of my time leading my school's Model United Nations team and attending conferences across the country. I love to travel and as my friends would be certain to tell you, have a near obsession with all things Turkey, after spending my senior year of high school there. 
		<br>
		<br>
		Feel free to poke around these other tabs to learn more...</p>
	</div>
{% endblock %}