{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} Burgess Productions {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>COMPUTER SCIENCE</h2>
		<hr>
		<p>Since I was a kid I have loved to solve puzzles. In my freshman year of college I took a comsci course on a lark, and realized that at its heart programming is just solving series of increasingly complex puzzles. Since then I have devoted more and more of my time and attention to computer science, much to the consternation of my political science professors, leading to me spending the last summer working for <a href="http://www.axispoint.com/home">Axispoint</a>in NY, NY. Currently I am particularly interested in algorithm development and the interplay of technology and politics. </p> 
	</div>
{% endblock %}