{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} Burgess Productions {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>COMPUTER SCIENCE</h2>
		<hr>
		<p>Brendan is in his second year of a computer science major, focusing primarily on algoritm and application development. He has a strong background in java, but also has become increasingly involved in web development, particularly the use of Python and the Django Framework, which this website was built with. Several other projects can be found in the projects section of this website</p>
	</div>
{% endblock %}