{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} B.E. Burgess {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>CONTACT ME</h2>
		<hr>	
    	<a href="mailto:brburgess@clarku.edu">
  			<img src="/static/email.png" alt="email" 
  			style="width:42px;height:42px;border:0;">
		</a>
		<a href="http://www.facebook.com/brendan.e.burgess">
  			<img src="/static/facebook.png" alt="Facebook" 
  			style="width:42px;height:42px;border:0;">
		</a>
		<a href="https://github.com/BrendanBurgess">
  			<img src="/static/github2.png" alt="github" 
  			style="width:42px;height:42px;border:0;">
		</a>
		<a href="https://www.linkedin.com/in/burgessbe">
  			<img src="/static/linkedin.png" alt="Facebook" 
  			style="width:42px;height:42px;border:0;">
		</a>
	</div>
{% endblock %}