{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} B.E. Burgess {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>POLITICAL SCIENCE</h2>
		<hr>
		<p> While I have relatively recently become enamored with programming I have been interested in politics for as long as I can remember. My interest drew me to study abroad in Turkey my senior year, and an interest in studying it brought me to Clark University.  These days I continue my studies, and travel with my schools Model United Nations team to compete in political debates. Recently I have been studying the interplay of technology and politics; particularly how technology has facilitated social movements and cyberdefense </p>
	</div>
{% endblock %}