{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %} Burgess Productions {% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>POLITICAL SCIENCE</h2>
		<hr>
		<p>As well as his interest in Computer Science, Brendan Burgess is majoring in Political Science with a concetration in International relations. This interest is furthered by his work with Model United Nations, a pursuit which he has pursued since his freshman year of highschool. This has allowed him to experience travel all across the Eastern Seaboard. Recently, He won two awards on the collegiate curcuit. Brendan's current focus is the Middle East, and the spread of instability that followed the 2011 protests across the region. </p>
	</div>
{% endblock %}