{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>Projects</h2>
		<hr>
		<p><strong>Quartz:</strong>
		<br>
		Along with my friend <a href="http://www.chrisrentsman.com">Chris</a> I recently created an auto scheduling app using Django, Django REST framework and Angular.js that finds common meeting times in people's schedules. Hosting coming soon... 
		<br>
		<br>
		<strong>Auto-Grader</strong>
		<br>
		I was selected last year to continue the work of a group of graduating seniors at my university whom had created an automated grading system for classes. I do site administration as well as development to expand the system. The system was built with Django, Java, Bash, and Bootstrap.
		</p>
	</div>
{% endblock %}