{% extends 'current/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block body_block %}
	<div class="fancy"> 
		<h2>Projects</h2>
		<hr>
		<p><strong>Concurrent:</strong>
		<br>
		One of the projects that Brend is currently very exited about is a brand new calendar app called Conncurent. While there cureently is an abundance of similar projects out there, as far as Brendan knows, none of them are capable of automatically scheduling a meeting between two or more individuals. This would be very useful in a wide variety of applications both personal and commerical
		<br>
		<br>
		<strong>Rango:</strong>
		<br>
		Realizing his complete lack of Web develppment skills, Rango is Brendan's first foray into this field. Using the Book "Tango With Django" and his winter break he was able to create a reddit clone (sort-of) using python and the django framework. While individually not that impressive, the skills learned here would go on to allow him to be involved in projects such as Concurrent and the making of this sight
		</p>
	</div>
{% endblock %}